@use '../styles/base' as b;
.imagePrincipale{
  opacity: 0.7;
  height: 100vh;
  z-index: 1;
}

.backgroundContainer {
  background-image: url('../assets/images/artisans-blur.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  flex: 1;
}

.container{
  @include b.displayFlex(column, center, space-between);
  text-align: center;
  height: 100%;
}

@mixin linkButton ($backgroundColor, $fontColor) {
  padding: 2.2rem 0.4rem;
  background-color: $backgroundColor;
  color: $fontColor;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  border-radius: b.$BORDER_RADIUS_LARGE;
  border: 1px solid b.$white;
  text-decoration: none;
  font-size: 1.4rem;
  margin: 0.6rem;
}

.buttonLinksContainer{
  @include b.displayFlex(row, center, flex-start);

  .needServiceButton {
    @include linkButton(b.$yellow, b.$anthracite);
  }

  .findProButton {
    @include linkButton(b.$marine-blue, b.$white);
  }

}

.titrePrincipale{
  margin-top: 10%;
  font-size: 2.6rem;
  line-height: 3rem;
}

.titreBas{
  margin-top: auto;
  font-size: 1.8rem;
  line-height: 2.1rem;
  margin-bottom: 1rem;
}
.AlloDjari{
  margin-top: 1rem;
  font-size: 3.5rem;
}

.callTexts {
  @include b.displayFlex(column, stretch, flex-start);
  z-index: 5;
  color: #FFFFFF;
  height: 100%;
  font-family: "Bebas Neue", sans-serif;

}
