@use '../../../styles/base' as b;

.mainMenuContainer {
  @include b.displayFlex(column, flex-start, stretch);
  width: 100vw;
  height: max-content;
  padding: 0.6rem 1rem 1rem 1rem;
}

.menuLink {
  @include b.latoFont;
  color: b.$white;
  margin-bottom: 0.4rem;
  text-decoration: none;
}