{% extends 'base.html.twig' %}

{% block title %}Hello EmployesController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<h1> Presentation des Employes </h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prenom </th>
      <th scope="col">Date de début </th>
      <th scope="col">nombre de missions</th>
      <th scope="col">Nombre de missions non payés </th>
      <th scope="col">Poste occupé</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for employe in employes %}
    <tr class="table-light">
     
      <td>{{employe.nom}}</td>
      <td>{{employe.prenom}}</td>
      <td>{{employe.dateDebut | date('Y/m/d')}}</td>
      <td>{{employe.NbMission}}</td>
      <td>{{employe.NbMissionNonPayees}}</td>
      <td>{{employe.TypePost}}</td>
      <td><button type="button" class="btn btn-secondary disabled"><a href={{path('edit_employe', {'id': employe.id})}} style="color:white">modifier </a> </button></td>
      <td>
       <form method="POST" action="{{path('delete_employe', {'id': employe.id})}}" onsubmit="return confirm('etes vous sur de vouloir supprimer ?')">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-danger">supprimer</button>
        </form>
      




    
      
      </td>
      
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
