{% extends 'base.html.twig' %}
{% form_theme formEmploye 'bootstrap_4_layout.html.twig'%}


{% block body %}
<h1> ajout employé </h1>
    {{form_start(formEmploye)}}
    {{ form_widget(formEmploye) }}
    <div class="form-group"><button type="submit" class="btn btn-primary">Ajouter employé </button></div>
    {{ form_end(formEmploye) }}
{% endblock %}
