@use '../../../../styles/base' as b;

.container {
  @include b.displayFlex(column, stretch, flex-start);
  @include b.latoFont;
  margin-bottom: 0.4rem;
}

.label {
  margin-bottom: 0.2rem;
}

.field {
  border: 0;
  border-radius: b.$BORDER_RADIUS_SMALL;
  min-height: 2rem;
  margin-bottom: 0.2rem;
  padding: 0 0.6rem;
  color: b.$anthracite;

}

.errorMessage {
  color: b.$yellow;
}