@use '../styles/base' as b;

.loginFormCard {
  @include b.roundedCard(b.$marine-blue, b.$BASIC_CARD_WIDTH, b.$white);
  margin: 0 auto 1rem;
}

.loginHeader {
  @include b.pageTitle;
}

.loginButton {
  @include b.shortYellowButton;
  margin-top: 0.4rem;
}

.registerLink {
  @include b.textLink;
}

.otherLinksContainer {
  @include b.displayFlex(column, center, center);
  & > a {
    margin-bottom: 0.8rem;
  }
}

.otherPlatformButton {
  @include b.otherPlatformButton;

  .facebookIcon {
    color: b.$marine-blue;
  }

  .googleIcon {
    color: b.$pink;
  }

  .networkIcon {
    @include b.displayFlex(column, center, center);
    font-size: 0.9rem;
  }

}