@use '../styles/base' as b;

.needServiceHeader {
  @include b.pageTitle;
}

.textInfoContainer {
  @include b.whiteInfoContainer;
  margin-top: 0;
}

.goCreateOfferButton {
  @include b.largeYellowButton;
}

.goProsListButton {
  @include b.largeBlueButton;
}

.goCreateOfferButton, .goProsListButton {
  text-decoration: none;
  margin-bottom: 1rem;
  width: 75%;
}

.buttonDetails {
  text-align: center;
  margin-bottom: 1.4rem;
  padding: 0 2rem;
  & > div {
    font-weight: bold;
    font-size: 1.05rem;

  }

  & > span {
    display: block;
    font-size: 0.90rem;
    padding: 0 1rem;
  }
}