@use '../styles/base' as b;
.ListOfferHeader{
  @include b.pageTitle;
  background-color: #D6C515;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #FFFFFF;
  height: 25%;
}
.containerOffer {
  border-bottom: solid 1px ;
  border-color: #303030;
  padding: 1rem 0rem;
  margin: 0.5rem;
  text-decoration: none;
  background-color: #FFFFFF;
  border-radius: 10px;

}
.containerGlobal{
  margin-top: 10px;
}
.ville{
  width: 50%;
  color: #00AFD6;
}

.profession{
  color: #7a7f7f;
  width: 50%;
  text-decoration: none;
  margin-bottom: 0.5rem;
  margin-left: 1.5rem;
}
.Avatar{
  width: 100px;
  height: 100px;
  float: right;
  margin-top: -2rem;
}

.nbMission{
  color: #303030;
}

.description{
  color: #303030;
  margin-left: 1rem;
  margin-right: 1rem;

}
.Nom{
  width: 50%;
  margin-bottom: 5px;
  margin-left: 1.5rem;
  color: #303030;
}

.LinkOffer{
  text-decoration: none;
}
.localisation{
  display: flex;
  margin-bottom: -1rem;
  margin-left: 1.5rem;
}
.pLocalisation{
  margin-left: 0.3rem;
  color: #303030;
}
.FaMapMarkerAlt{
  color: #D61560;
}