@use '../styles/base' as b;
.ListDescProHeader{
  @include b.pageTitle;
  background-color: b.$marine-blue;
  color: b.$white;
}
.containerPro {
  margin: 0.4rem 0.8rem;
  background-color: b.$white;
  border-radius: b.$BORDER_RADIUS_SMALL;

  &:hover {
    .goToIcon {
      color: b.$pink;
    }
  }

}

.details{
  color: b.$anthracite50p;
}
.Avatar{
  width: 50px;
  height: 50px;
  margin: 0 0.4rem;
}

.Nom{
  color: b.$anthracite;
  font-weight: bold;
}

.LinkPro{
  text-decoration: none;
}

.localisation{
  @include b.displayFlex(row, center, flex-start);
  color: b.$anthracite50p;
  span {
    margin-left: 0.2rem;
  }
}

.infosContainer {
  @include b.displayFlex(row, center, space-between);
  padding: 0.4rem;
}

.textInfos {
  @include b.displayFlex(column, flex-start, flex-start);
  flex: 1;
  padding-left: 0.4rem;
}

.goToIcon {
  @include b.displayFlex(column, center, center);
  color: b.$anthracite50p;
}

.filtersContainer {
  background-color: b.$pink;
  margin-bottom: 0.5rem;
  padding: 0.4rem;
}

.filtersHeader {
  @include b.displayFlex(row, center, flex-start);
  font-size: 1.5rem;
  color: b.$white;
  cursor: pointer;
}

.filtersTitle {
  font-family: "Bebas Neue", sans-serif;
}

.filtersList {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}