@use '../styles/base' as b;

.registerHeader {
  @include b.pageTitle;
}

.registerButton {
  @include b.shortYellowButton;
  margin-top: 0.8rem;
  margin-bottom: 0;
}

.otherLinksContainer {
  @include b.displayFlex(column, center, center);
  margin-bottom: 1rem;
  & > * {
    margin-bottom: 0.8rem;
  }
}

.registerAlloDjari {
  @include b.backgroundContainer(b.$marine-blue, b.$white);
  @include b.displayFlex(column, center, center);
  padding-bottom: 1rem;
  flex: 1;

  h2 {
    @include b.pageTitle;
    color: b.$white;
    font-size: 2rem;
  }

}

.textInfoContainer {
  @include b.whiteInfoContainer;
}

.alloDjariForm {
  @include b.displayFlex(column, stretch, space-between);
  flex: 1;
  width: 80%;
}

.cguCheckbox {
  @include b.formikCheckbox;
}