@use '../../../styles/base' as b;

.appContainer {
  margin: 0 auto;
  max-width: 960px;
  padding: 0;
  height: 100vh;
  overflow-y: scroll;
  @include b.latoFont;
  @include b.displayFlex(column, stretch, flex-start);
}