{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .table{
            width:60%;
        }
        #delete-row{
            color : red;
            background-color:white;
            border : none;
        }

    </style>
{% endblock %}

{% block body %}
    <script>  
      var intervalExistant = [];
      var index = 0;
      var intervalMax = [0];
    </script>
    <table class="table table-hover" id="table">
        <thead>
            <tr>
                <th scope="col">intervalle minimum</th>
                <th scope="col">intervalle maximum</th>
                <th scope="col">quantite</th>
                <th scope="col">quantite non mixte</th>
                <th scope="col">prix unitaire</th>
                <th scope="col">prix unitaire non mixte</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbody">
            {% set index = 0 %}
            {% for inteval in maPrestation.getMesPrestationIntervals %}
              <tr id='{{ index }}'>
                <td>{{inteval.intervalMin}}</td>
                <td>{{inteval.intervalMax}}</td>
                <td>{{inteval.quantite}}</td>
                <td>{{inteval.quantiteNonMixte}}</td>
                <td>{{inteval.prixUnitaire}}</td>
                <td>{{inteval.prixUnitaireNonMixte}}</td>
                <td><button type='botton' id='delete-row' onclick='deleteRow({{ index }})'><i class='far fa-trash-alt'></i></button></td>
              </tr>
              <script>
                intervalExistant.push([{{inteval.intervalMin}},{{inteval.intervalMax}},{{inteval.quantite}},{{inteval.quantiteNonMixte}},{{inteval.prixUnitaire}},{{inteval.prixUnitaireNonMixte}}]);
                index = {{ index }};
                intervalMax.push({{inteval.intervalMax}});
              </script>
              {% set index = index + 1 %}
            {% endfor %}
    </table>

    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-12">
                <div class="modal-content">
                    <div class="modal-header">
                      <h1>Titre</h1>
                    </div>
                    <form class="form" action="index.html" method="post">
                    <div class="modal-body">
                          <div class="table-responsive">
                            <div class="input">
                                <label class="label-modal">Intervalle minimum: </label>
                              <p id="intervalle-minimum"> <p>
                            </div>
                            <div class="input">
                                <label class="label-modal">intervalle maximum: </label>
                                <input class="form-control" placeholder="intervalle maximum" name="interval-max" intervalid="interval" type="number" default="" required/>
                            </div>
                             <div class="input">
                                <label class="label-modal">quantité: </label>
                                <input class="form-control" placeholder="quantité" name="quantite" intervalid="interval" type="number" default="" required/>
                            </div>
                            <div class="input">
                                <label class="label-modal">quantité non mixte: </label>
                                <input class="form-control" placeholder="quantité" name="quantite_non_mixte" intervalid="interval" type="number" default="" required/>
                            </div>
                            <div class="input">
                                <label class="label-modal">prx unitaire: </label>
                                <input class="form-control" placeholder="prix unitaire" name="prx_unitaire" intervalid="interval" type="number"  default="" required/>
                            </div>
                            <div class="input">
                                <label class="label-modal">prx unitaire non mixte: </label>
                                <input class="form-control" placeholder="prix unitaire non mixte" name="prx_unitaire_non_mixte" intervalid="interval" type="number"  default="" required/>
                            </div>
                            
                          </div>
                     
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-danger" data-dismiss="modal" value="Close">close</button>
                      <button class="btn btn-success" type="submit" href="#" onclick="izane()" data-dismiss="modal" value="Save" id="save">Save</button>
                    </div>
                     </form>
                </div>
            </div>
          </div>
          <a href="#" data-toggle="modal" data-target="#myModal" onclick="putIntervalleMax()"> Open</a>
          <button class="btn btn-success" onclick="sendData()">Enregistrer</button>
        </div>
      </div>
    </div>

{% block javascripts %}
 <script type="text/javascript" src="{{ asset('https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js') }}"> </script>
<script src="{{ asset('https://code.jquery.com/ui/1.12.1/jquery-ui.js' ) }}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <script>
      var lineToAdd=[];
      var lineToDelete=[];
    //  var ligneToDelete = document.getElementById(index).cells;
     // var tabtmp =[parseInt(ligneToDelete[0].innerHTML),parseInt(ligneToDelete[1].innerHTML),parseInt(ligneToDelete[2].innerHTML),parseInt(ligneToDelete[3].innerHTML),parseInt(ligneToDelete[4].innerHTML),parseInt(ligneToDelete[5].innerHTML)];
     // console.log(tabtmp);
    //  console.log(intervalExistant);
    //  console.log(inTab(intervalExistant,tabtmp));
      var tableLength = document.getElementById("tbody").childNodes.length;
      var table = document.getElementById('tbody');
      function izane(){
          var tableauInput = document.getElementsByClassName('form-control');
          var valueNull = false;
          for (var i =0 ; i<tableauInput.length;i++){
              if(tableauInput[i].value==""){
                    valueNull =true;
                    alert(tableauInput.name + 'n\'est pas renseignée');
              }
              
          }
          if(parseInt(tableauInput[0].value<=intervalMax[intervalMax.length-1])){
            alert('l\'intervalle maximum doit etre strictement superieur à l\'intervalle minimum');
            
          }

          else if(!(valueNull)){
              tableLength = document.getElementById("tbody").childNodes.length;
            intervalMax.push(tableauInput[0].value);
            //alert(tableauInput[0]+' => '+tableauInput[1]);
            var row = table.insertRow();
            index += 1;
            row.id =  index;
            var cell1 = row.insertCell();
            var cell2 = row.insertCell();
            var cell3 = row.insertCell();
            var cell4 = row.insertCell();
            var cell5 = row.insertCell();
            var cell6 = row.insertCell();
            var cell7 = row.insertCell();
            cell1.innerHTML = intervalMax[intervalMax.length-2];
            cell2.innerHTML = tableauInput[0].value;
            cell3.innerHTML = tableauInput[1].value;
            cell4.innerHTML = tableauInput[2].value;
            cell5.innerHTML = tableauInput[3].value;
            cell6.innerHTML = tableauInput[4].value;
            cell7.innerHTML = "<button type='botton' id='delete-row' onclick='deleteRow("+row.id+")'><i class='far fa-trash-alt'></i></button>";
            lineToAdd.push([parseInt(intervalMax[intervalMax.length-2]),parseInt(tableauInput[0].value),parseInt(tableauInput[1].value),parseInt(tableauInput[2].value),parseInt(tableauInput[3].value),parseInt(tableauInput[4].value)]);
           
          }
      }

      // ici lors de la suppression d'une ligne on supprime toutes les lignes suivantes et les intervalles collectés.
      function deleteRow(x){
          allRow = table.childNodes;
          var ligneToDelete = [];
          while(index > x || index == x){
            ligneToDelete = document.getElementById(index).cells;
            tabLigneToDelete = [parseInt(ligneToDelete[0].innerHTML),parseInt(ligneToDelete[1].innerHTML),parseInt(ligneToDelete[2].innerHTML),parseInt(ligneToDelete[3].innerHTML),parseInt(ligneToDelete[4].innerHTML),parseInt(ligneToDelete[5].innerHTML)];
            if (inTab(intervalExistant,tabLigneToDelete)){
              lineToDelete.push(tabLigneToDelete);   
            }else{
            lineToAdd.pop();
            console.log(lineToAdd);
            }
            table.deleteRow(index);
              intervalMax.pop();
              index -= 1;
          }
          
      }
      // ici on recupere le champ intervalle min du modal pour le mettre à jour
      function putIntervalleMax(){
        console.log(lineToAdd);
        var p = document.getElementById("intervalle-minimum");
        p.innerHTML=intervalMax[intervalMax.length-1];
      }
      function sendData(){
        console.log(lineToDelete);
      if(lineToAdd.length > 0 || lineToDelete.length  > 0){
        $json_array = JSON.stringify(lineToAdd);
        $json_array_delete = JSON.stringify(lineToDelete);
        $.ajax({
          type: "POST",
          url: "/admin/mes_prestation/putAddedInterval",
          data:{
            "idmp": {{maPrestation.id}} , "interval" : $json_array , "supprimer" : $json_array_delete
          },
          success: function(data){
            
          },
          error : function(data){

          }
        }) ;
      }
      }

      // nous allons definir une fonction pour voir si un tableau est contenue dans un autre 
      function inTab(a,b){
        for(var i =0 ; i < a.length;i++){
          var diff = false;
          if (a[i].length == b.length){
            var j = 0;
            while((!diff) && j< b.length){
              if ( a[i][j] != b[j]){
                diff = true;
              }
              j++;
            }
            if(j == b.length){
              return true;
           }
          }
        }
       return false;
      }
    </script>
      

{% endblock %}
{% endblock %}