{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig'%}
{% block stylesheets %}
<style>
.custom-control-input {
 position:absolute;
 left:0;
 z-index:-1;
 width:1rem;
 height:1.25rem;
 opacity:0
}
.custom-control-input:checked ~ .custom-control-label::before {
 color:#fff;
 border-color:#fc7486;
 background-color:#fc7486
}
.custom-control-input:focus ~ .custom-control-label::before {
 -webkit-box-shadow:0 0 0 0.2rem rgba(120,194,173,0.25);
 box-shadow:0 0 0 0.2rem rgba(120,194,173,0.25)
}
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
 border-color:#d0eae2
}
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
 color:#fff;
 background-color:#f3faf8;
 border-color:#f3faf8
}
.custom-control-input[disabled] ~ .custom-control-label,
.custom-control-input:disabled ~ .custom-control-label {
 color:#888
}
.custom-control-input[disabled] ~ .custom-control-label::before,
.custom-control-input:disabled ~ .custom-control-label::before {
 background-color:#f7f7f9
}
</style>
{% endblock %}
{% block body %}
<h1> Nouvelle préstation </h1>
    <div>
    {{form_start(form)}}
    {{form_row(form.nomPrestation)}}
    {{form_row(form.nombreEmployes)}}
    {{form_row(form.prix)}}
    {{form_row(form.DependNbInvites)}}
    <div class="form-group"><button type="submit" class="btn btn-primary">
        {% if modified %}
        modifier Ma préstation
    {% else %}
        Ajouter ma préstation </button></div>
    {% endif %} 
    {{ form_end(form)}}
    </div>
   
    <script> 
    // modifier les class pour l'adapter au theme bootstrap
    var buttonSubmit = document.getElementsByClassName('btn btn-primary');
    var textButtonSubmit = buttonSubmit[0].textContent;
  const fileSelector = document.getElementById('mes_prestation_DependNbInvites');
  const fileSelectorLabel = document.getElementsByClassName('form-check-label');
  fileSelectorLabel[0].className = 'custom-control-label';
    fileSelector.className='custom-control-input';
    fileSelector.parentNode.className = 'custom-control custom-switch';
    fileSelector.onclick = function() {
        var chebox = fileSelector;
     //   var buttonSubmit = document.getElementsByClassName('btn btn-primary');
        
        console.log(textButtonSubmit);
        
        if (chebox.checked == true){
            buttonSubmit[0].textContent = 'ajouter interval';
            //console.log(buttonSubmit[0]);
            
        } 
        
        
         else {
           buttonSubmit[0].textContent = textButtonSubmit;
  }
    };

  ;
</script>
{% endblock %}
