{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
    body{
        text-align: center;
    }
        .table{
            width:60%;
            margin : 5% auto ;
        }
        #delete-row{
            color : red;
            background-color:white;
            border : none;
            float:right;
        }
        #edit-row{
            color: #67ee38;
            background-color:white;
            border:none;
            padding : 0px;
            float : left;
        }
        #edit-row:hover{
            background-color:none;
        }

    </style>
{% endblock %}
{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Nom Préstation
                </th>
                <th>
                    Nombre d'employes
                </th>
                <th>
                    Prix
                </th>
                <th>
                    Depend du nombre d'invites 
                </th>
                
            </tr>
        </thead>
        <tbody>
            {% for maprestation in mesprestation %}
            <tr>
                <td>{{maprestation.nomPrestation}}</td>
                <td> {{maprestation.nombreEmployes}} </td>
                <td>{{maprestation.prix}}</td>
                {% if maprestation.DependNbInvites == 1 %}
                    <td>Oui</td>
                {% else %}
                <td>non</td>
                {% endif %}
                <td>
                <form method="get" action="{{ path('edit_ma_prestation', {'id': maprestation.id})}}">
                <button type='botton' id='edit-row' type="submit"><i class="far fa-edit"></i>
</button>
                </form>
              
                <a href="#" data-toggle="modal" data-target="{{'#myModal' ~ maprestation.id}}" id="delete-row"><i class='far fa-trash-alt'></i></a>
                </form>
                </td>
            </tr>




            
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="modal fade" id="{{'myModal' ~ maprestation.id}}">
            <div class="modal-dialog modal-12">
                <div class="modal-content">
                    <div class="modal-header">
                      <h1>Merci de confirmer</h1>
                    </div>
                    <form class="form" action="{{ path('delete_mes_prestation', {'id': maprestation.id})}}" method="post">
                    <div class="modal-body">
                        <p> Étés vous sur de vouloirs supprimer cette prestation ?</p>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-danger" data-dismiss="modal" value="Close">close</button>
                      <button class="btn btn-success" type="submit"  id="save">supprimer</button>
                    </div>
                     </form>
                </div>
            </div>
          </div>
          
          
        </div>
      </div>
    </div>
            {% endfor %}
        </tbody>
    </table>



    
{% endblock %}
