@use '../../../../styles/base' as b;

@mixin ownCheckBox {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  transition: all 150ms;
}

.checkboxContainer {
  @include b.displayFlex(column, center, center);
  width: 0.8rem;
  height: 0.8rem;
  background-color: b.$white;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.checkedBox {
  @include ownCheckBox;
  background-color: b.$light-blue;
}

input[type="checkbox"] {
  // Hide checkbox visually but remain accessible to screen readers.
  // Source: https://polished.js.org/docs/#hidevisually
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.errorMessage {
  color: b.$yellow;
}

.boxAndLabel {
  @include b.displayFlex(row, center, flex-start);
}