{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig'%}


{% block body %}
<h1> Nouvelle prestation </h1>
    {{form_start(form)}}
    {{ form_widget(form) }}
    <div class="form-group"><button type="submit" class="btn btn-primary">
        {% if modified %}
        modifier dépense
    {% else %}
        Ajouter dépense n </button></div>
    {% endif %} 
    {{ form_end(form)}}
{% endblock %}
