{% extends 'base.html.twig' %}

{% block title %}Hello ExpenditureController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1> Presentation des depenses </h1>
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nom de la depense</th>
      <th scope="col"> categorie de la depense  </th>
      <th scope="col">date de la depense</th>
      <th scope="col">Prix de la depense </th>
    
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for Expenditure in Expenditures %}
    <tr class="table-light">
     
      <td>{{Expenditure.ExName}}</td>
      <td>{{Expenditure.ExCategory}}</td>
      <td>{{Expenditure.date | date('Y/m/d')}}</td>
      <td>{{Expenditure.Price}}</td>
     
      <td><button type="button" class="btn btn-primary disabled"><a href={{path('edit_expenditure', {'id': Expenditure.id})}} style="color:white">modifier </a></button></td>
      <td><button type="button" class="btn btn-primary disabled"><a href={{path('delete_expenditure', {'id': Expenditure.id})}} style="color:white" onclick="return confirm('voulez-vous vraiment supprimer cette dépense ?')"> supprimer </a></button></td>
      
    </tr>
    {% endfor %}
    </tbody>
    </table>

</div>
{% endblock %}
