// Global consts for layout
$HEADER_HEIGHT: 60px;
$BORDER_RADIUS_SMALL: 10px;
$BORDER_RADIUS_LARGE: 30px;
$BASIC_CARD_WIDTH: 85vw;


// Colors: use these variables instead of raw hexa/rgb codes
$light-blue: #00AFD6;
$marine-blue: #0E738A;
$pink: #D61560;
$yellow: #D6C515;
$anthracite: #303030;
$anthracite50p: rgba(48,48,48, 0.5);
$light-grey: #DEDEDE;
$white: #FFF;


// Mixins: reusable css classes/"functions" (parameters enabled). Use in a css class with `@include mixinName;`
// Title of each view
@mixin pageTitle {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  display: block;
  font-size: 2.4rem;
  color: $anthracite;
  padding: 1.2rem 0;
  margin-bottom: 0;
  font-weight: normal;
}
// Shorthand for display flex
@mixin displayFlex($direction, $alignItems, $justifyContent) {
  display: flex;
  flex-direction: $direction;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

@mixin roundedCard($backgroundColor, $width, $fontColor) {
  display: block;
  width: $width;
  background-color: $backgroundColor;
  padding: 0.8rem 1.0rem;
  border-radius: $BORDER_RADIUS_SMALL;
  margin: auto;
  color: $fontColor;
}

@mixin latoFont {
  font-family: Lato, sans-serif;
}

@mixin backgroundContainer($backgroundColor, $fontColor) {
  display: block;
  background-color: $backgroundColor;
  color: $fontColor;
}

@mixin textLink {
  color: $pink;
  text-decoration: underline;
  font-size: 0.9rem;
}

@mixin button($width, $backgroundColor, $fontColor, $borderRadius) {
  @include displayFlex(row, center, center);
  width: $width;
  background-color: $backgroundColor;
  color: $fontColor;
  border-radius: $borderRadius;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  padding: 0.5rem 1.7rem;
  font-size: 1.7rem;
  margin: auto;
  border: 0;
  text-decoration: none;
  & * {
    text-decoration: none;
    color: $fontColor;
  }
  &:disabled {
    opacity: 0.7;
  }
}

@mixin shortYellowButton {
  @include button(max-content, $yellow, $anthracite, $BORDER_RADIUS_LARGE);
}

@mixin largeBlueButton {
  @include button($BASIC_CARD_WIDTH, $marine-blue, $white, $BORDER_RADIUS_SMALL);
  font-size: 1.5rem;
}

@mixin largeYellowButton {
  @include button($BASIC_CARD_WIDTH, $yellow, $anthracite, $BORDER_RADIUS_SMALL);
  font-size: 1.5rem;
}

@mixin otherPlatformButton {
  @include button(70vw, $anthracite, inherit, $BORDER_RADIUS_SMALL);
  font-size: 1.2rem;
  padding: 0.5rem 2.5rem;
}

@mixin whiteInfoContainer {
  @include roundedCard($white, $BASIC_CARD_WIDTH, $anthracite);
  padding: 0.8rem 1.6rem;
  margin-bottom: 1rem;
  text-align: center;
}

@mixin formikCheckbox {
  background-color: yellow;
}

@mixin returnLink($textColor) {
  @include displayFlex(row, center, flex-start);
  flex: 1;
  color: $textColor;
  text-decoration: none;
  font-weight: bold;
}