@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Regular.woff2") format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato Light";
  src: url("../assets/fonts/Lato-Light.woff2") format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato Bold";
  src: url("../assets/fonts/Lato-Bold.woff2") format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato Medium";
  src: url("../assets/fonts/Lato-Medium.woff2") format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../assets/fonts/BebasNeue-Regular.woff2") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
