<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <script src="https://kit.fontawesome.com/35da560a18.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
            <script type="text/javascript" src="{{ asset('https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js') }}"> </script>
            <script src="{{ asset('https://code.jquery.com/ui/1.12.1/jquery-ui.js' ) }}"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
            <script src="http://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

        <style>
        .logo{
          width: 50px;
          height: 60px;
        }
        .login{
          float : right;
          
          font-size:13px;
        }
        .login > a {
          color:white;
        }
        .btn-secondary{
          font-size:13px;
          margin-left : 6px;
          color:white;
        }
        .navbar-light .navbar-nav .nav-link{
          color:white;
        }
        body{
          font-family: 'Source Sans Pro', sans-serif;
        }
        
        </style>
        
        
       
        {% block stylesheets %}
        
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img class="img-fluid  logo" src="/pictures/logo.PNG" alt="">
            <div class="navbar-collapse collapse" id="navbarColor01" style="">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <button class="btn btn-secondary "><a class="nav-link" href="{{ path('index')}}">Accueil</a></button>
                </li>
                <li class="nav-item">
                  <button class="btn btn-secondary "><a class="nav-link" href="{{ path('create_prestation')}}">Ajouter préstation</a></button>
                </li>
                <li class="nav-item">
                  <button class="btn btn-secondary "><a class="nav-link" href="{{ path('prestation_calendar')}}">Préstation à venir</a></button>
                
         

              </ul>
              
                {% if not app.user %}
                
                  <button class="btn btn-secondary login"><a class="nav-link" href="{{ path('security_login')}}">Connexion</a></button>
                
                {% else %}
                
                  <button class="btn btn-secondary login"><a class="nav-link" href="{{ path('security_logout')}}">Deconnexion</a></button>
                
                {% endif %}
            </div>
          </nav>
          {% for label, messages in app.flashes(['success', 'warning']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">

            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
          
        {% block body %}
      
        {% endblock %}
    </body>
</html>
