{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig'%}

{% block body %}
    <h1>modifiez votre mot de passe  </h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">changer le mot de passe </button>
    {{ form_end(form)}}
{% endblock %}