
{% block stylesheets %}
<link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <style>

           
                  
           .img{
             width: 100%;
          height: 100%;
        }
        .image{
          width: 60%;
          height: 100%;
          float:left;
        }

        .login{
          width: 40%;
          height: 100%;
          float : right;
          text-align:center;
          margin-top:8%;
        }
.container{
  width: 55%
    
}

.container > form > .row  button {
  margin-right: 10px;
  

}
form .row {
  margin-top:15%;
  width: 100%;
  float: right;
}
form .row div {
  width: 50%;
}
div button{
  width: 70%;
}
div .btn-login button{
  background-color: #E96673;
  border-color:#4D4F5C;
}
div .btn-inscription button{
  background-color: white;
  color: #4D4F5C;
  border-color:#4D4F5C;
}
a{
  color: #4D4F5C;
  float: right;
} 
p{
  margin-top:25px;
  margin-bottom:30px;
}
@media only screen and (max-width: 1024px){
  .image{
    width: 100%;
    height: 100%;
    
  }
  .login{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    
  }.container {
    width: 40%;
    padding-bottom: 130px;
    height: auto;
    background-color: white;
    border-style: groove;
    border-width: 0.5px;
    border-color: #4D4F5C;
    border-radius: 7px;
    border: 
  }
  
  
}
    </style>
{% endblock %}

{% block body %}

    <div class="image">
    <img class="img-fluid  img" src="/pictures/background.jpg" alt="">
    </div>
   <div class="login"> 
   <div class="container">
   <img class="img-fluid  logo" src="/pictures/logo.PNG" alt="">
   <p>Bonjour, merci de vous authentifier.</p>
   <form action="{{ path('security_login') }}" method="POST" >
       <div class="form-group">
           <input placeholder="Username ..." required name="_username" type="text" class="form-control">
       </div>
       <div class="form-group">
        <input placeholder="password ..." required name="_password" type="password" class="form-control">
    </div>
    <div class="lien">
    <a href="{{path('forgotten_password')}}" class="card-link">mot de passe oublié ?</a>
    </div>
    <div class="row">

    <div class="button btn-login"><button type="submit" class="btn btn-primary">Connexion </button></div>
    <form>
    <div class="button btn-inscription"><button  class="btn btn-primary" type="submit" formaction={{path('security_registration')}}>inscription </button></div>
    </form>
    </div>
    
   </form>
   </div>
   </div>
{% endblock %}