{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig'%}

{% block body %}
    <h1>izane a tous </h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Primary</button>
    {{ form_end(form)}}
{% endblock %}