@use "../styles/base" as b;

.returnLink {
  @include b.returnLink(b.$anthracite);
  flex-grow: 0;
  min-height: 40px;
  padding-left: 0.2rem;
}

.descOfferContainer {
  margin: 0 0.8rem;
  background-color: b.$white;
  padding: 0.6rem;
  border-radius: b.$BORDER_RADIUS_SMALL;
  color: b.$anthracite;
}

.pageHeader {
  @include b.pageTitle;
  background-color: b.$marine-blue;
  color: b.$white;
}

.descOfferContent {
  flex: 1;
}

.userProfile {
  @include b.displayFlex(row, center, flex-start);
  .userAvatar {
    width: 30px;
    height: 30px;
  }
  span {
    margin: 0 0.3rem;
    font-weight: bold;
  }
  padding: 0.3rem 0.8rem;
}

.descOfferHeader {
  border-bottom: 1px solid b.$anthracite;
  padding-bottom: 0.2rem;
}

.offerTitle {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
  margin: 0.8rem 0 0.4rem;
}

.descOfferItem {
  @include b.displayFlex(row, flex-start, stretch);
  padding: 0.4rem 0;

  span {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5rem;
    margin: 0.8rem 0 0.4rem;
    text-align: center;
    display: block;
    width: 100%;
  }
}

.callButton {
  @include b.largeBlueButton;
  margin-top: 1rem;
  cursor: pointer;
}