@use "../styles/base" as b;

.descProContainer {
  margin: 0 0.8rem;
  background-color: b.$white;
  padding: 0.6rem;
  border-radius: b.$BORDER_RADIUS_SMALL;
}

.descProHeader {
  @include b.displayFlex(row, center, flex-start);
  margin-bottom: 0.6rem;
}

.returnLink {
  @include b.returnLink(b.$white);
  flex-grow: 0;
  min-height: 40px;
  padding-left: 0.2rem;
}

.proProfilePicture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: b.$anthracite;
  margin-right: 0.4rem;
}

.descProTitle {
  font-family: "Bebas Neue", sans-serif;
  @include b.displayFlex(column, stretch, space-evenly);
  height: 100%;
  .proName {
    font-size: 2.1rem;
    color: b.$anthracite;
  }

  .profession {
    font-size: 1.4rem;
    color: b.$anthracite50p;
  }
}

.descProContent {
  flex: 1;
}

.descProItem {
  @include b.displayFlex(row, flex-start, stretch);
  padding: 0.6rem 0;
  border-top: 1px solid b.$anthracite50p;

  span {
    margin-left: 0.4rem;
  }

}

.pageHeader {
  @include b.pageTitle;
  background-color: b.$marine-blue;
  color: b.$white;
}