@use "../../../styles/base" as b;

.dialogContainer {
  color: brown;
  z-index: 100;
  position: absolute;
  overflow-x: auto;
  width: 0;
  top: 0;
  right: 0;
  background-color: b.$anthracite;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes movein {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}