
{% extends 'base.html.twig' %}
    
{% block stylesheets %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/list@4.1.0/main.min.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <style>
        .fc-button-primary{
            background-color: white;
            border-color:  #E96673;
            color: #E96673;
        }
        .fc-button-primary:not(:disabled).fc-button-active, .fc-button-primary:not(:disabled):active { 
                       background-color: #E96673;
                       color: ##E96673;
                        border-color:  #f97c7c;
        }
        
        .fc-button-primary:hover{
            background-color: #ffe3e3;
            border-color:  #f97c7c;
            color: #E96673;
        }
        .fc-today-button.fc-button.fc-button-primary{
            background-color: #ffe3e3;
            border-color:  #E96673;
            color: #E96673;
        }
        #calendar-holder {
            width : 58%;
            height: 50%;
            float:left;
        }
        #container{
            width : 41%;
            float: left;
            margin-left : 15px;
            font-family: 'Source Sans Pro', sans-serif;
        }
        
        .card-gauche{
            width:55%;
            float:left;
            margin : 15px;
            padding-top : 40px;

        }
        .jumbotron {
            background-color : white;
            padding: 0px;
            
        }
        .card-gauche > p{
         padding-top :  4px;
         height : 5px;
         font-size:13px;
      
        }
        .detail-gauche{
        padding-top :  4px;
        font-size:14px;
        height : 5px;
        float : left;
        width: 45%;
        height:150px;
      
        }
        .detail-gauche > p{
            margin-bottom : 0px
        }
        .detail-droite{
        padding-top :  4px;
        font-size:14px;
        height : 5px;
        float : right;
        width: 38%;
        padding-right : 0px;
        height:150px;
        }
        .bas-droite{
        padding-top :  4px;
        font-size:15px;
        text-align:right;
        height : 5px;
        float : right;
        width: 48%;
        padding-right : 0px;
        height:150px;
        }
        .bas-droite > p{
            margin-bottom : 2px;
        }
        .bas-droite > button {
            width : 170px;  
        }
        .detail-droite > p{
            margin-bottom : 0px;
   
        }
        .detail-droite > h4{
            margin-bottom : 37px;
            
        }
        .card-droite {
            width:29%;
            float:right;
            text-align:center;
            margin-top : 45px;
            padding-right : 0px;
        }
        .btn-secondary.disabled {
            width : 170px;
            background-color: #E96673;
            
        }
        b {
            color: #4D4F5C;
        }
        
        .jumbotron > .jumbotron {
            height : 180px;
            margin-bottom : 0px;
        }
        .my-4{
            margin-top : 5px;
            margin-bottom : 5px;
        }
        .table{

            text-align: center;
            
            width : 98%;
        }
    </style>


{% endblock %}

{% block body %}
    <script>
    </script>

    <div id="calendar-holder"></div>
    <div id="container"></div>
    
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/list@4.1.0/main.min.js"></script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            var calendarEl = document.getElementById('calendar-holder');
            var calendar = new FullCalendar.Calendar(calendarEl, {

                defaultView: 'dayGridMonth',
                editable: true,
                eventSources: [
                    {
                        url: "{{ path('fc_load_events') }}",
                        method: "POST",
                        extraParams: {
                            filters: JSON.stringify({})
                        },
                        failure: () => {
                             alert("There was an error while fetching FullCalendar!");
                        },
                    },
                ],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,listMonth',
                    
                },
                plugins: [ 'interaction', 'dayGrid', 'timeGrid','list' ], // https://fullcalendar.io/docs/plugin-index
                timeZone: 'UTC',
                locale: 'fr',
                buttonText: {
                    today: 'Aujourd\'hui',
                    month: 'Mois',
                    week: 'Semaine',
                    list: 'Liste'
                },
                eventClick: function(info) {
                info.jsEvent.preventDefault(); // don't let the browser navigate

                if (info.event.url) {
                affiche(info.event.extendedProps.description);
    }
  }
            });
            calendar.render();
        });


        function affiche(tab){
            var container = document.getElementById('container');
            var elementgauche = "<div class='card-body card-gauche'><h3 class='card-title'><b>"+tab['nomClient']+"</b></h3><p><b>Adresse: </b>"+tab['adresse']+"</p><p><b>Numéro: </b>"+tab['id']+"</p></div>";
            var elementdroite = "<div class='card-body card-droite'><h3 class='card-title'><b>"+tab['statut']+"</b></h3><button type='button' class='btn btn-secondary disabled'><a href={{path('details_prestation', {'id': "+tab['id']+"})}} style='color:white'>Devis </a> </button></td></div>";
            var detailgauche = "<div class='card-body detail-gauche'> <h4 class='card-title'> Détail: </h4> <p><b>Nombre d'invités: </b>"+tab['NbInvites']+" </p><p><b>Nombre d'employes nécessaires: </b> "+tab['nbEmployes']+"</p><p><b>Nombre d'employes assignés: </b> "+tab['nbEmployesAssignes']+"</p></div>";
            var heure = '';
            if(tab['heureFin']==null){
                heure = "à partir de "+tab['heureDebut'];
            }else{
                heure = " de "+tab['heureDebut']+" à "+tab['heureFin'];
            }
            var detaildroite = "<div class='card-body detail-droite'><h4></h4> <p><b>Date préstation: </b>"+tab['date']+" </p> <p><b>heure: </b>"+heure+"</p><p><b>Mixte: </b>"+tab['mixte']+"</p></div>";
            var detail = "<div class='jumbotron'>"+detailgauche+detaildroite+"<div>";
            var tablePrestation = "<div >"+tab['detailPrestation']+"</div>";
            var tabledebut = "<table class='table table-hover'><thead><tr><th scope='col'># </th><th scope='col'>prestation </th><th scope='col'>Nombre d'employes nécessaires</th><th>prix</th></tr></thead>";
            var tableBody = "<tbody>";
            for(var i = 0 ; i< tab['prestationReserve'].length;i++){
                tableBody+= "<tr class='table-light'><td>"+i+1+"</td><td>"+tab['prestationReserve'][i][1]+" </td><td>"+tab['prestationReserve'][i][2]+"</td> <td>"+tab['prestationReserve'][i][3]+"</td> <td></td></tr>";
            }
            table = tabledebut+tableBody+"</tbody></table>";
            var elementBas = "<div class='jumbotron'><div class='card-body bas-droite'><p><b>Total:</b> "+tab['total']+"</p> <p><b>Accomptes: </b>"+tab['accomptes']+"</p> <p><b>Remises: </b>"+tab['remises']+"</p><h4><b>Reste à payer: "+tab['resteAPayer']+"</b></h4><button type='button' class='btn btn-secondary disabled'><a href={{path('edit_prestation', {'id': "+tab['id']+"})}} style='color:white'>Modifier </a> </button></div></div>";
            var element = "<div class='jumbotron'><div class='jumbotron'>"+elementgauche+elementdroite+"</div><hr class='my-4'>"+detail+'{% if is_granted('ROLE_ADMIN') %}'+table+'{% endif %}'+elementBas+"</div>";
            container.innerHTML = element;

        }
    </script>
{% endblock %}
{% endblock %}
