<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        
        <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
       
        {% block stylesheets %}
        
        {% endblock %}
    </head>

{% block title %}Details de la prestation {% endblock %}

{% block body %}

 
    

     
    <h4>{{"Nom du client : " ~  prestation.nomClient}}</h4>
    <h4>{{"Adresse de la prestation : " ~ prestation.adresse}}</h4>
    <h4>{{ "Date de la prestation : " ~ prestation.date | date('Y/m/d')}}</h4>
    
    {% set result = '' %}
    {% for maPrestation in prestation.prestationReserve %}
      {% set result = result ~ maPrestation ~ ', ' %} 
    {% endfor %}
    <h4>
    {{ " Prestataions reservées  : " ~ result}}
    </h4>
    <h4>{{"Nombre d'invités  : " ~ prestation.nbInvites}}</h4>
    <h4>{{"Nombre d'employés  : " ~ prestation.nbEmployes}}</h4>
    <h4>{{"Nombre d'employés assignés  : " ~ prestation.NbEmployesAssignes}}</h4>
    <h4>{{"Accompte  : " ~ prestation.acompte}}</h4>
    <h4>{{"Reste a payer  : " ~ prestation.resteAPayer}}</h4>
    <h4>{{"Remise  : " ~ prestation.remise}}</h4>
    <h4>{{"Frais : " ~ prestation.frais}}</h4>
    <h4>{{"Total  : " ~ prestation.total}}</h4>
    
       
       
        
{% endblock %}
</html>