{% extends 'base.html.twig' %}


{% block head %}
{% endblock %}
{% block body %}
<h1> employes assignés à cette prestation </h1>
{% for message in app.flashes('success') %}
<div class="alert alert-success">
  {{ message }}
</div>
{% endfor %}



<table id="table_a" class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nom </th>
      <th scope="col">Prénom </th>
      <th scope="col">poste </th>

      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for employe in employesAssignes %}
    <tr id="{{employe.id}}" class="table-light">

      <td id="name" >{{employe.nom}}</td>
      <td id="prenom">{{employe.prenom}}</td>
      <td id="typePost">{{employe.typePost}}</td>
      <td id="button"><button type="button" onclick="handlerRemoveEmploy(this)" class="retirer" id="retirer"
          value="{{employe.id}}">retirer </button></td>

    </tr>

    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <button id="add" type="button" class="btn btn-secondary disabled"> ajouter </button>

        <button id='saves' type="button" class="btn btn-secondary disabled" onclick="sendData()"> save </button>
      </td>

    </tr>
  </tfoot>
</table>

<div id="user_dialog" titre="add Data">

  <table id ='table_b' class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>nom</th>
        <th> prenom</th>
        <th>poste </th>
      </tr>
    </thead>
    <tbody>

      {% for empl in employesNonAssignes %}
      <tr id="{{empl.id}}" onclick="handlerEmployAssin(this)">
        <td> </td>
        <td id="name">{{ empl.nom  }} </td>
        <td id="prenom"> {{ empl.prenom  }}</td>
        <td id="typePost"> {{ empl.typePost  }} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <button  type="button" class="btn btn-secondary disabled"> save </button>
</div>
{% block javascripts %}
<script type="text/javascript"
  src="{{ asset('https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js') }}"> </script>
<script src="{{ asset('https://code.jquery.com/ui/1.12.1/jquery-ui.js' ) }}"></script>
<script type="text/javascript">

  
  var tab_copy = [] ;

  var tab = [];
  $att = '';
  tab_removed = [];
  tab_final = [] ;
  function removeElement(array, elem) {
    var index = array.indexOf(elem);
    if (index > -1) {
        array.splice(index, 1);
    }
}

  function handlerEmployAssin(employeCell) {
    const idEmploye = employeCell.getAttribute('id');
    const employe = { name: "", id: idEmploye, prenom: "", typePost: "" }
    let arrayOfSelectedEmploye = employeCell.querySelectorAll('td');
    tab.push(idEmploye);
    for (const employTd of arrayOfSelectedEmploye) {
      if (!!employTd.getAttribute('id')) {
        const nameOfKey = employTd.getAttribute('id');
        const valueOfKey = employTd.innerText;
        employe[nameOfKey] = valueOfKey;
      }
    }
    const affectEmploy = `<tr id="${idEmploye}" class="table-light">
   <td id="name">${employe.name}</td>
   <td id="prenom">${employe.prenom}</td>
   <td id="typePost">${employe.typePost}</td>
   <td><button type="button" class="retirer" id="retirer" onclick="handlerRemoveEmploy(this)" value="${idEmploye}"> retirer </button></td>
 </tr>`;
    $('#table_a tbody').append(affectEmploy);
    $('#table_b tr#'+idEmploye).remove();
}
  $(document).ready(function () {
    $('#user_dialog').dialog({
      autoOpen: false
    });
    $('#add').click(function () {
      $('#user_dialog').dialog('option', 'title', 'ajouter employé');
      $('#user_dialog').dialog('open');
    })
    $('#save').click(function () {
      $('#user_dialog').dialog();
                     
                      
    })
 
 

})

 

  function handlerRemoveEmploy(employToRemove) {
    var text = '<tr id =' + employToRemove.value +' onclick="handlerEmployAssin(this)" >';
    tab_removed.push(employToRemove.value);
    const trAssociateToEmploy = document.getElementById(employToRemove.value);
    let arrayOfTd = trAssociateToEmploy.querySelectorAll('td');
    for (const employTds of arrayOfTd) {
      if (employTds.getAttribute('id')!="button") {
            if (employTds.getAttribute('id')=="typePost"){
              
              
              text += '<td id="typePost">'+ employTds.innerText +'</td>';
            }
            else if (employTds.getAttribute('id')=="name"){
              text+= '<td id="name">'+ employTds.innerText + '</td>';
            }
            else if (employTds.getAttribute('id')=="prenom"){
             text+= '<td id="prenom">' + employTds.innerText + '</td>';
            }}}
    text += '</tr>';
    
    trAssociateToEmploy.parentNode.removeChild(trAssociateToEmploy);
    $('#table_b tbody').append(text);
    
    //alert(tab_removed);
  
  }

  
  function sendData(){
    tab_final.length = 0 ;
    for( let j = 0 ; j< tab.length ; j++ ){
        tab_copy[j]= tab[j];
    }
    for( let i = 0 ; i< tab_removed.length ; i++ ){
      if ( tab_copy.includes(tab_removed[i])){
          removeElement(tab_copy,tab_removed[i]);  
      }
    else {
      tab_final.push(tab_removed[i]);
    }
    }
    $json_array = JSON.stringify(tab_copy);
    $json_array2 = JSON.stringify(tab_final);

    if (tab_final.length != 0 ){
    $.ajax({
         type: "POST",
       url : "/admin/prestation/retirer",
      data:{
      "idp": {{prestation.id}} , "ide": $json_array2
      },
      success: function(data){
      
      },
      error : function(){
  
      }
    });
  }
     if (tab_copy.length != 0 ){
      $.ajax({
        type: "POST",
        url: "/admin/prestation/assigner",
        data: {
          "idp": {{ prestation.id }}, "ide" : $json_array
                        },
    success: function (data) {
      location.reload();
    },
    error: function () {
      // show alert or something
    } 
  
      });
  
    }
  
  
  }
  


 


</script>

{% endblock %}
{% endblock %}