{% extends 'base.html.twig' %}

{% block title %}Hello PrestationController!{% endblock %}

{% block body %}
 <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nom </th>
      <th scope="col">Prénom </th>
      <th scope="col">poste  </th>
      
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for employe in employes %}
    <tr class="table-light">
      <td>{{employe.id}}</td>  
      <td>{{employe.nom}}</td>
      <td>{{employe.prenom}}</td>
      <td>{{employe.typePost}}</td>

    </tr>

    {% endfor %}
    </tbody>
    </table>
{% endblock %}
