{% extends 'base.html.twig' %}
{% form_theme formPrestation 'bootstrap_4_layout.html.twig'%}


{% block body %}
<h1> Nouvelle prestation </h1>
    {{form_start(formPrestation)}}
    {{ form_widget(formPrestation) }}
    <div class="form-group"><button type="submit" class="btn btn-primary">
     {% if modified %}
        modifier prestation
    {% else %}
        Ajouter prestation </button></div>
    {% endif %} 
    
    {{ form_end(formPrestation) }}
{% endblock %}
