{% extends 'base.html.twig' %}




{% block body %}
<h1> Presentation des prestations </h1>
{% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
            {% endfor %}
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nom du client</th>
      <th scope="col">adresse </th>
      <th scope="col">date </th>
      <th scope="col">prestations résérvées</th>
      <th scope="col">Invités </th>
      <th scope="col">Employes</th>
      <th scope="col">acompte</th>
      <th scope="col">reste à payer</th>
      <th scope="col">remise</th>
      <th scope="col">frais divers</th>
      <th scope="col">Totel prestation</th>
      <th scope="col">Nombre d'Employes assignés</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for prestation in prestations %}
    <tr class="table-light">
     
      <td>{{prestation.nomClient}}</td>
      <td>{{prestation.adresse}}</td>
      <td>{{prestation.date | date('Y/m/d')}}</td>
      
      {% set result = '' %}
      {% for maPrestation in prestation.PrestationsReservees %}
        {% set result = result ~ maPrestation.nomPrestation ~ ', ' %} 
      {% endfor %}
      <td>
      {{result}}
      </td>
      <td>{{prestation.nbInvites}}</td>
      <td>{{prestation.nbEmployes}}</td>
      <td>{{prestation.acompte}}</td>
      <td>{{prestation.resteAPayer}}</td>
      <td>{{prestation.remise}}</td>
      <td>{{prestation.frais}}</td>
      <td>{{prestation.total}}</td>
      <td>{{prestation.NbEmployesAssignes}}<td>
      <td><button type="button" class="btn btn-secondary disabled"><a href={{path('edit_prestation', {'id': prestation.id})}} style="color:white">modifier </a> </button></td>
      <td><button type="button" class="btn btn-secondary disabled"><a href={{path('delete_prestation', {'id': prestation.id})}} style="color:white" onclick="return confirm('are u sure?')" >supprimer </a> </button></td>
      <td><button type="button" class="btn btn-secondary disabled"><a href={{path('employes_assignes_prestation', {'id': prestation.id})}} style="color:white">assigner des Employes </a> </button></td>
      <td><button type="button" class="btn btn-secondary disabled"><a href={{path('details_prestation', {'id': prestation.id})}} style="color:white">imprimer </a> </button></td>
    </tr>

    {% endfor %}
    </tbody>
    </table>
{% endblock %}
