{% extends 'base.html.twig' %}
{% form_theme formPrestation 'bootstrap_4_layout.html.twig'%}
{% block stylesheets %}
  <style>

    @import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
background: #f5f6f7;
font-family: "Nunito", sans-serif;
}

main {
height: 100vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
position: relative;
}
.stepper {
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5%;
}

.step--1,
.step--2,
.step--3,
.step--4 {
  width: 5rem;
  padding: 0.5rem 0;
  background: #fff;
  color: #666;
  text-align: center;
}
.step--1,
.step--2,
.step--3 {
  border-right: 1px solid #666;
}

.form {
  background: #fff;
  text-align: center;
  position: absolute;
  width: 25rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(51, 51, 51, 0.2);
  display: none;
  border-radius: 1rem;
  overflow: hidden;
}
.form--header-container {
  background: linear-gradient(to right, rgb(51, 51, 51), #919191);
  color: #fff;
  height: 6rem;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

.form--header-title {
  font-size: 1.4rem;
}

.form--header-text {
  padding: 0.5rem 0;
}

input[type="text"] {
  padding: 0.8rem;
  margin: auto;
  margin-top: 0.5rem;
  width: 20rem;
  display: block;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid #bdbdbb;
}

.form__btn {
  background: #333;
  color: #fff;
  outline: none;
  border: none;
  padding: 0.5rem 0.7rem;
  width: 7rem;
  margin: 1rem auto;
  border-radius: 0.9rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
.form--message-text {
  width: 25rem;
  background: #fff;
  color: #444;
  padding: 2rem 1rem;
  text-align: center;
  font-size: 1.4rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(51, 51, 51, 0.2);
  animation: fadeIn 0.8s;
  border-radius: 1rem;
}
.form-active {
  z-index: 1000;
  display: block;
}
.form-active-animate {
  animation: moveRight 1s;
}
.form-inactive {
  display: block;
  animation: moveLeft 1s;
}

.step-active {
  background: #666;
  color: #fff;
  border: 1px solid #666;
}
    </style>


    {% endblock %}
{% block body %}
<h1> Nouvelle prestation </h1>

    <main>
    <div class="stepper">
      <div class="step--1 step-active">Step 1</div>
        <div class="step--2">Step 2</div>
        <div class="step--3">Step 3</div>
        <div class="step--4">Finish</div>
    </div>



    
    {{form_start(formPrestation)}}
    <div class="form-form-active">
        <div class="form--header-container">
          <h1 class="form--header-title">
            Information Personnel
          </h1>
          </div>
            {{form_row(formPrestation.nomClient)}}
            {{form_row(formPrestation.adresse)}}
          <button class="form__btn" id="btn-1">suivant</button>
        
    </div>



    <div class="form">
      <div class="from--header-container">
        <h1 class="from--header-title">
          Information sur votre préstation
        </h1>
      </div>
      {{form_row(formPrestation.date)}}
      {{form_row(formPrestation.NbInvites)}}
      {{form_row(formPrestation.mixte)}}
      {{form_row(formPrestation.typeTransaction)}}
      <button class="form__btn" id="btn-2-prev">précédent</button>
      <button class="form__btn" id="btn-2-next">suivant</button>
    </div>


    <div class="form">
      <div class="from--header-container">
        <h1 class="from--header-title">
          personnalisez votre préstation
        </h1>
      </div>
      {{form_row(formPrestation.prestationReserve)}}
      {{form_row(formPrestation.acompte)}}
      <button class="form__btn" id="btn-3">suivant</button>
    </div>

    
    <div class="form-group"><button type="submit" class="btn btn-primary">
     {% if modified %}
        modifier prestation
    {% else %}
        Ajouter prestation </button></div>
    {% endif %} 
    
    {{ form_end(formPrestation) }}
    </main>
{% endblock %}
