@use "../../../styles/base" as b;

.COHeaderContainer {
  @include b.displayFlex(column, flex-starts, center);
  background-color: b.$yellow;
  padding: 0.4rem 0.4rem 0.6rem 0.4rem;
}

.returnLink {
  @include b.returnLink(b.$anthracite50p);
}

.headerTexts {
  @include b.displayFlex(column, stretch, center);
  text-align: center;
  margin-top: 0.4rem;
}

.headerMainTitle {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.9rem;
  margin-bottom: 0.2rem;
  color: b.$anthracite;
}

.headerStepTitle {
  color: b.$anthracite50p;
  font-weight: bold;
}
