@use "../../../styles/base" as b;

.headerContainer {
  background-color: b.$anthracite;
  padding: 0 0.6rem;
  max-width: 960px;
  height: b.$HEADER_HEIGHT;
  @include b.displayFlex(row, center, space-between);
}

.headerRow {
  @include b.displayFlex(row, center, space-between);
}

.headerLogoContainer {
  min-width: 50%;
}


