@use '../../../styles/base' as b;

.otherPlatformButton {
  @include b.otherPlatformButton;
  color: b.$white;

  .networkIcon {
    @include b.displayFlex(row, center, center);
    font-size: 0.9rem;
    margin-right: 0.5rem;
    height: 100%;
  }

  .facebookIcon {
    color: b.$marine-blue;
  }

  .googleIcon {
    color: b.$pink;
  }
}