@use "../../styles/base" as b;

.continueFlowButton {
  @include b.largeBlueButton;
}


.formPartContainer {
  @include b.displayFlex(column, stretch, flex-start);
  @include b.latoFont;
  margin-bottom: 0.4rem;





  .fieldLabel {

  }


  .selectFieldContainer {

  }

  .selectFieldOption {
    display: block;
    width: 100px;
    height: 100px;
  }




}